name: Deploy Medical Chatbot to EC2

on:
  push:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker image
        run: |
          docker build -t medicalbot .

      - name: Tag Docker image
        run: |
          docker tag medicalbot:latest ${{ secrets.ECR_REPO }}:latest

      - name: Push Docker image to ECR
        run: |
          docker push ${{ secrets.ECR_REPO }}:latest

  deploy:
    needs: build-and-push
    runs-on: self-hosted

    steps:
      - name: Deploy on EC2
        run: |
          docker pull ${{ secrets.ECR_REPO }}:latest
          docker stop medicalbot || true
          docker rm medicalbot || true
          docker run -d \
            --name medicalbot \
            -p 8080:8080 \
            -e GROQ_API_KEY="${{ secrets.GROQ_API_KEY }}" \
            -e PINECONE_API_KEY="${{ secrets.PINECONE_API_KEY }}" \
            ${{ secrets.ECR_REPO }}:latest
